protocol = "scpi-set-discrete"
doc = "Daemon mapping generic SCPI commands onto yaq discretely-settable positions as defined by config."
traits = ["is-discrete", "has-position", "is-daemon"]

[links]
source = "https://gitlab.com/yaq/yaqd-scpi"
bugtracker = "https://gitlab.com/yaq/yaqd-scpi/-/issues"

[installation]
PyPI = "https://pypi.org/project/yaqd-scpi"
conda-forge = "https://anaconda.org/conda-forge/yaqd-scpi"

[config]

[config.scpi_command]
type = "string"
doc = "SCPI command, e.g. :SOUR1:FREQ"

[config.visa_address]
type = "string"
doc = "VISA resource name."